@import 'principal.css';

.titulo-princ{
  color: var(--c-vermelho-claro);
  font-size: 45px;
  font-family: var(--f-titulo2);
  font-weight: normal;
  position: relative;
  top: 3vh;
}

input[type='textbox']{
  color: var(--c-roxo-escuro);
  font-family: var(--f-normal);
  font-size: 17px;
  padding: 7px 15px;
  border: 1px solid var(--c-cinza-medio);
  border-radius: 25px;
  outline: none;
}

input[type='textbox']:focus{
  border-color: var(--c-azul-medio);
  border-width: 2px;
}

.col-left{
  left: 7vw;
  position: absolute;
}

.col-right{
  right: 7vw;
  position: absolute;
}

#sec-princ{
  width: 100%;
  height: 60vh;
  position: relative;
  top: 1vh;
  left: 50%;
  transform: translateX(-50%);
}

#div-vis{
  background-color: #fdfdfd;
  width: 100%;
  height: 100%;
  padding: 5vh 0;
  border: 1px solid var(--c-cinza-claro);
  display: flex;
  align-items: center;
  justify-content: center;
}

#div-id{
  position: absolute;
  top: -3.5vh;
}

#div-id>*{
  display: inline;
}

#div-id p{
  color: var(--c-vermelho-claro);
  font-family: var(--f-titulo2);
  font-size: 30px;
}

#id::before{
  content: 'aaaa';
}

