@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Quicksand:wght@500&family=Pacifico&display=swap');

:root{
  --c-cinza-claro: #e6e6e6;
  --c-cinza-claro-medio: #c4c4c4;
  --c-cinza-medio: #8d8d8d;

  --c-azul-claro: #7cdaff;
  --c-azul-claro-transp:#7cdaff1c;
  --c-azul: #3cb1ff;
  --c-azul-medio: #2c91f0;
  --c-roxo-escuro: #230752;
  --c-amarelo-claro: #fffd82;
  --c-amarelo: #ffeb3b;
  --c-verde-claro: #7cffc2;
  --c-rosa-claro: #ffcaeb;
  --c-vermelho-claro: #ff6586;

  --c-back: white;

  --f-titulo: 'Outfit', sans-serif;
  --f-titulo2: 'Pacifico';
  --f-normal: 'Quicksand', sans-serif;
}

*::selection{
  background-color: #fffea68a;
}

*{
  transition: 0.08s;
}

body{
  background-color: var(--c-back);
  background-attachment: fixed;
  font-family: var(--f-normal);
  color: var(--c-roxo-escuro);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--f-titulo);
}

#cont-back span{
  position: fixed;
  filter: blur(200px) opacity(20%);
  border-radius: 50%;
  z-index: -1000;
}

#span-back-1{
  background-color: var(--c-rosa-claro);
  width: 30vw;
  height: 30vw;
  top: 20vh;
  left: -100px;
}

#span-back-2{
  background-color: var(--c-amarelo-claro);
  width: 30vw;
  height: 30vw;
  top: 0;
  right: -3vw;
}

#span-back-3{
  background-color: var(--c-azul-claro);
  width: 30vw;
  height: 30vw;
  top: 80vh;
  right: 30vw;
}

h1{
  font-size: 60px;
  text-align: center;
}

nav{
  width: 100vw;
  padding: 3vh 0;
  position: fixed;
  top: 0;
  left: 0;
}

nav a{
  color: var(--c-roxo-escuro);
  font-size: 18px;
  font-family: var(--f-titulo);
  text-decoration: none;
  padding: 5px 0;
  display: inline;
}

nav .float-right{
  float: right;
}

nav .float-right a{
  float: right;
  margin-left: 3vw;
}

nav .float-right a:hover{
  border-bottom: 2px dashed var(--c-vermelho-claro);
  cursor: pointer;
}

nav #logo{
  font-size: 20px;
  font-family: var(--f-titulo2);
  padding: 5px 8px;
  border: 2px solid var(--c-vermelho-claro);
  border-radius: 50%;
}

nav #logo, nav .float-right{
  margin: 0 7vw;
}
