@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Pacifico&display=swap');

:root{
  --c-azul-claro: #7cdaff;
  --c-azul-claro-transp:#7cdaff31;
  --c-roxo-escuro: #410777;
  --c-amarelo-claro: #fffd82;
  --c-verde-claro: #7cffc2;
  --c-rosa-claro: #ffa3dc;
  --c-vermelho-claro: #ff6586;

  --c-back: white;

  --f-titulo: 'Outfit', sans-serif;
  --f-titulo2: 'Pacifico';
}

*::selection{
  background-color: #fffea68a;
}

*{
  transition: 0.08s;
}

body{
  background-color: var(--c-back);
  color: var(--c-roxo-escuro);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--f-titulo);
}

#cont-back span{
  position: fixed;
  filter: blur(200px) opacity(20%);
  border-radius: 50%;
}

#span-back-1{
  background-color: var(--c-azul-claro);
  width: 30vw;
  height: 30vw;
  top: 20vh;
  left: -100px;
}

#span-back-2{
  background-color: var(--c-amarelo-claro);
  width: 30vw;
  height: 30vw;
  top: 0;
  right: -3vw;
}

#span-back-3{
  background-color: var(--c-rosa-claro);
  width: 30vw;
  height: 30vw;
  top: 80vh;
  right: 30vw;
}

